[submodule "bwa_aligner"]
	path = bwa_aligner
	url = git@github.com:dmlond/bwa_aligner.git
[submodule "bwa_aligner_agent"]
	path = bwa_aligner_agent
	url = git@github.com:dmlond/bwa_aligner_agent.git
[submodule "bwa_plasmodium_data"]
	path = bwa_plasmodium_data
	url = git@github.com:dmlond/bwa_plasmodium_data.git
[submodule "bwa_reference_volume"]
	path = bwa_reference_volume
	url = git@github.com:dmlond/bwa_reference_volume.git
[submodule "bwa_reference"]
	path = bwa_reference
	url = git@github.com:dmlond/bwa_reference.git
[submodule "google_agent_base"]
	path = google_agent_base
	url = https://github.com/dmlond/google_agent_base
[submodule "split_raw"]
	path = split_raw
	url = git@github.com:dmlond/split_raw.git
