---
guser: your_google_userid
gpass: app_specific_password
spreadsheet_name: some_spreadsheet
reply_email: any_email_address
send_to: real_email_address
key_fields:
  some_field_in_spreadsheet:
    rank: 1
    required: 1
