---
guser: your_google_userid
gpass: app_specific_password
spreadsheet_name: some_spreadsheet
reply_email: bwa_agent@docker.io
send_to: real_email_address
key_fields:
  subset:
    rank: 1
    required: 1
